.example-card {
    max-width: 700px;
    //margin: 5%;
    margin: auto;
    .proImg{
        width:60%;
        margin: auto;

    }
  }
  
  .example-header-image {
   // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
.card{
   
}