
<mat-card>
    <img mat-card-image  src="{{product.image}}" alt="Product Image" class="product-image">
    <mat-card-content>
      <h3 mat-card-title>{{product?.name}}</h3>
      <p mat-card-subtitle>{{product?.price}}</p>
      <p mat-card-text class="product-description">
        {{product?.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="primary" (click)="viewDetails(product.id)">View Details</button>
      <button mat-button color="accent" >Add to Cart</button>
    </mat-card-actions>
</mat-card>